*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 27, 85);
}

.content-form {
    max-width: 400px;
    width: 100%;
    min-height: 450px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(36, 36, 36, 0.365);
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 70px 1fr;
    gap: 10px;

    // &>* {
    //     border: solid 1px #000;
    // }

    .ongles {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>div {
            position: relative;



            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 0;
                height: 2px;
                background: royalblue;
                left: 0;
            }

            &.active {
                background-color: rgba(65, 105, 225, 0.251);
                color: #555;

                &::after {
                    width: 100%;
                }

            }
        }


        p {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
    }

    .forms {
        position: relative;

        form {
            position: absolute;
            left: 0;
            width: 100%;
            background: #fff;
            transform: scale(0);
            transition: 0.1s;

            &.active {
                transform: scale(1);
            }
        }
    }

    input {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border: none;
        outline: none;
        background: none;
        border-bottom: solid 1px #aaa;
    }

    .p-link {
        text-align: center;
        margin-top: 20px;

        a {
            font-size: 13px;
        }
    }


    button {
        display: block;
        width: 100%;
        height: 50px;
        color: #fff;
        background: royalblue;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 4px 2px rgba(16, 16, 16, 0.235);
        margin-top: 30px;
        font-weight: bold;
    }
}