<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/style.css">
    <title>Home</title>
</head>

<body>
    <aside class="sidebar">
        <div class="user">
            <div class="img-user">
                <img src="../assets/users/user.JPG" alt="utlisateur">
            </div>
            <div class="datas">
                <p>Waly le dev</p>
            </div>
        </div>
        <button>Changer la photo</button>
        <button>
            <input type="file" name="image" id="image">
        </button>
    </aside>
    <main>
        <ul class="body">
            <li><img src="../assets/upload/img-1.jpg" alt="img-1"></li>
            <li><img src="../assets/upload/img-2.jpg" alt="img-2"></li>
            <li><img src="../assets/upload/img-3.jpg" alt="img-3"></li>
            <li><img src="../assets/upload/img-4.jpg" alt="img-4"></li>
            <li><img src="../assets/upload/img-5.jpg" alt="img-5"></li>
            <li><img src="../assets/upload/img-6.png" alt="img-6"></li>
            <li><img src="../assets/upload/img-7.jpg" alt="img-7"></li>
        </ul>
    </main>
</body>

</html>